Flask
gunicorn
ultralytics
opencv-python-headless
numpy
Pillow
cloudinary
python-dotenv
reportlab

# FORCE CPU Torch (lightweight)
torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
